In [8]:
import pandas as pd

pd.set_option('display.max_colwidth', 100)

In [9]:
df = pd.read_csv("sample_text.csv")
df.shape

(8, 2)

In [10]:
df

,text,category
0,Meditation and yoga can improve mental health,Health
1,"Fruits, whole grains and vegetables helps control blood pressure",Health
2,These are the latest fashion trends for this week,Fashion
3,Vibrant color jeans for male are becoming a trend,Fashion
4,The concert starts at 7 PM tonight,Event
5,Navaratri dandiya program at Expo center in Mumbai this october,Event
6,Exciting vacation destinations for your next trip,Travel
7,Maldives and Srilanka are gaining popularity in terms of low budget vacation places,Travel

In [11]:
from sentence_transformers import SentenceTransformer

encoder = SentenceTransformer("all-mpnet-base-v2")
vectors = encoder.encode(df.text)
vectors.shape

(8, 768)

In [13]:
dim = vectors.shape[1]

In [14]:
import faiss

index = faiss.IndexFlatL2(dim)
index

In [15]:
index.add(vectors)

In [16]:
search_query ="I want to buy a polo t-shirt"

vec = encoder.encode(search_query)
vec.shape

(768,)

In [17]:
import numpy as np
svec = np.array(vec).reshape(1, -1)
svec.shape

(1, 768)

In [19]:
distances, I = index.search(svec, k=2)

In [20]:
df.loc[I[0]]

                                                text category
3  Vibrant color jeans for male are becoming a trend  Fashion
2  These are the latest fashion trends for this week  Fashion